<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> User Base Acitvity WEbApp </title>
</head>
<body bgcolor="yellow">
    {% block content %}

    {% endblock%}                                                                                                                            $

</body>
</html>

