{% extends 'base.html' %}

{% block content %}
<center><h1>Hello,!  Welcome in User Activity WebApp !!!</h1></center>

{% csrf_token %}

<a href='load_data'> Click Here For Download User Activity Json File</a>
{% endblock %}


